# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
*.filters
*.vcxproj
*.pdb
*.idb
*.lastbuildstate
*.tlog
*.ipch
*.ilk
*.db-wal
*.opendb
*.db-shm
*.db
OOP_Laba4/.vs/OOP_Laba4/v16/.suo
*.sln
*.log
*.recipe
